.DS_Store

/NPM/carta-frontend-temp/
/CARTA-AppImage-creator/CARTA
/CARTA-AppImage-creator/*.AppImage
/CARTA-AppImage-creator/*.tgz
/CARTA-AppImage-creator/Embedded-Signature
/CARTA-AppImage-creator/index.html
/CARTA-AppImage-creator/carta-backend
/CARTA-AppImage-creator/package

/macOS_electron/files/etc/data/ephemerides
/macOS_electron/files/etc/data/geodetic
/macOS_electron/pack
/macOS_electron/package
/macOS_electron/carta-backend

Tauri2.0/src-tauri/target/
Tauri2.0/src-tauri/gen/schemas
Tauri2.0/src-tauri/backend/bin/*
Tauri2.0/src-tauri/backend/etc/*
Tauri2.0/src-tauri/backend/libs/*
Tauri2.0/src-tauri/frontend/*
!Tauri2.0/src-tauri/backend/bin/.gitkeep
!Tauri2.0/src-tauri/backend/etc/.gitkeep
!Tauri2.0/src-tauri/backend/libs/.gitkeep
!Tauri2.0/src-tauri/frontend/.gitkeep