[Desktop Entry]
Name=carta
Exec=AppRun
Icon=carta
Type=Application
Comment=Cube Analysis and Rendering Tool for Astronomy
Categories=Science
X-AppImage-Version=5.0.0
Terminal=false
